
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}

body {
    background: url("img/farm3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 30px 40px;
}

.input-back a,
.submit-button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 14px 0;
}

.submit-button {
    display: flex;               
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.input-container {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 40px 0;
}

.input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
}

.input-container input::placeholder {
    color:#fff;
}

.input-container img {
    position: absolute;
    right: 24px;
    margin-top: 5px;
    top:20%
}

.input-container a {
    font-size:16px;
    margin-top: 20px;
    color:#fff;
    text-decoration: none;
}

.input-container a:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    height: 50px;
    background-color: #191a80;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.submit-button a {
    display: flex;          
    width: 100%;
    height: 50px;
    background-color: #191a80;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}


.submit-button:hover {
    background-color: #2d3499;
}

.register-link {
    text-align: center;
    margin: 20px 0;
}

.register-link p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.register-link p a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

.input-back {
    width: 100%;
    height: 50px;
    background-color: #191a80;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.input-back:hover {
    background-color: #2d3499;
}

.input-back {
    text-align: center;
    margin: 20px 0;
}

.input-back p {
    font-size: 29px;
    color: #fff;
    font-weight: 300;
}

.input-back p a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.container_ {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}


.modal-content {
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 25px;
    color: white;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}


.modal-content p {
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-line; 
}


.checkbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}


.modal-content .submit-button {
    margin-top: 20px;
}

.modal-content::-webkit-scrollbar {
    width: 6px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}

